* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(112.15deg, #5869C0 0.75%, rgba(88, 105, 192, 0.2) 101.8%);

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-size: 2rem;

    opacity: .8;


}

.clock {
    position: relative;

    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 50%;



    box-shadow:
        0 0 0px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 2px black,
        0 0 10px rgba(0, 0, 0, 0.2);

    transition: all 0.8s;

    transform-style: preserve-3d;

}

.clock-face {
    position: relative;
    right: calc((var(--clock-face-size) - 100%)/2);
    bottom: calc((var(--clock-face-size) - 100%)/2);
    margin-top: 2%;

    z-index: -1;

    width: var(--clock-face-size);
    height: var(--clock-face-size);

    background: url(./Screenshots/clock-face_img.png);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;

    transform: translateY(-1px);

}

.hand {
    position: absolute;
    top: 50%;

    height: 2px;
    width: 50%;

    background-color: black;

    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.fill {
    position: absolute;
    z-index: 10;

    height: 100%;

    background-color: white;

}

:root {
    --second-fill: 15%;
    --minute-fill: 25%;
    --hour-fill: 35%;

    --clock-face-size: 200%;
}

.second-hand>.fill {
    width: var(--second-fill);
}

.min-hand>.fill {
    width: var(--minute-fill);
}

.hour-hand>.fill {
    width: var(--hour-fill);
}

.change-clock-type {
    position: absolute;

    height: 4%;
    width: 45px;
    bottom: 10%;
    padding: 2px;

    background: linear-gradient(90deg, rgba(88, 105, 192, 0.6) 0%, rgba(255, 255, 255, 0.225) 100%);
    border-radius: 40px;
    border: .5px solid;
    border-color: linear-gradient(90deg, rgba(88, 105, 192, 0.6) 0%, rgba(255, 255, 255, 0.225) 100%);


    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 6px;
    line-height: 9px;
    letter-spacing: 0.5px;


    transition: .3s;
}

.change-clock-type:hover {
    font-size: 6.5px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);

    cursor: pointer;

}

.change-clock-type:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.flap-clock {
    position: absolute;

    background: linear-gradient(99.6deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 101.05%);
    opacity: 0.6;
    box-shadow: -6px 6px 3px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.flap-clock-face {
    display: flex;
    flex-direction: row;
    align-self: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    border-radius: 10px;


    background-color: hsla(0, 0%, 50%, 0.7);
    border: 3px solid;
    border-color: color rgba(255, 255, 255, 0.01);

    box-sizing: content-box;

}



.flap {

    margin: 4px 4px;
    padding: 4px 4px;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-.5px .5px .5px rgba(0, 0, 0, 0.9));
    border-radius: 5px;


    color: rgba(0, 0, 0, 0.6);
}

.sign {
    margin: 4px 0px;
    padding: 4px 0px;

    color: #8A8FA8;

    animation: pulse 1s infinite;
}

@keyframes pulse {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}




.display-clock {
    opacity: 0;
    transition: .9s;
}

/* background elements */

.rectangle {
    position: fixed;

    background: linear-gradient(111.35deg, rgba(255, 255, 255, 0.4) 3.69%, rgba(255, 255, 255, 0) 95.58%);
    filter: blur(1.2px);
    border-radius: 20px;

    transform: rotate(70deg);
}

.rectangle-1 {
    top: -25%;
    right: 50px;

    width: 50vh;
    height: 70vh;

    transform: rotate(-13.26deg);
}

.rectangle-2 {
    top: 50%;
    left: -20%;

    width: 90vh;
    height: 60vh;

    transform: rotate(20deg);
}