* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(112.15deg, #5869C0 0.75%, rgba(88, 105, 192, 0.2) 101.8%);

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-size: 2rem;
}

.clock {
    position: relative;

    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border: 3px solid white;
    border-radius: 50%;

    box-shadow:
        0 0 0px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 2px black,
        0 0 10px rgba(0, 0, 0, 0.2);

    transition: all 0.8s;

    transform-style: preserve-3d;

    /* change for editing 
    display: none; */

}

.clock-face {
    position: relative;
    right: calc((var(--clock-face-size) - 100%)/2);
    bottom: calc((var(--clock-face-size) - 100%)/2);
    margin-top: 2%;

    z-index: -1;

    width: var(--clock-face-size);
    height: var(--clock-face-size);

    background: url(./clock-face_img.png);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;

    transform: translateY(-1px);

}

.hand {
    position: absolute;
    top: 50%;

    height: 2px;
    width: 50%;

    background-color: black;

    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.fill {
    position: absolute;
    z-index: 10;

    height: 100%;

    background-color: white;

}

:root {
    --second-fill: 15%;
    --minute-fill: 25%;
    --hour-fill: 35%;

    --clock-face-size: 200%;
}

.second-hand>.fill {
    width: var(--second-fill);
}

.min-hand>.fill {
    width: var(--minute-fill);
}

.hour-hand>.fill {
    width: var(--hour-fill);
}

.change-clock-type {
    position: absolute;

    height: 4%;
    width: 25%;
    bottom: 10%;
    padding: 2px;

    background: linear-gradient(90deg, rgba(88, 105, 192, 0.6) 0%, rgba(255, 255, 255, 0.225) 100%);
    border-radius: 40px;
    border: .5px solid;
    border-color: linear-gradient(90deg, rgba(88, 105, 192, 0.6) 0%, rgba(255, 255, 255, 0.225) 100%);


    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 6px;
    line-height: 9px;
    letter-spacing: 0.5px;

    transition: .3s;
}

.change-clock-type:hover {
    font-size: 6.5px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);

    cursor: pointer;

}

.change-clock-type:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.flap-clock {
    position: absolute;

    background: linear-gradient(99.6deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 101.05%);
    opacity: 0.6;
    box-shadow: -8px 8px 4px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.flap-clock-face {
    display: flex;
    flex-direction: row;
    align-self: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;


    background-color: hsla(0, 0%, 50%, 0.8);
    border: 4px solid black;

    box-sizing: content-box;

}



.flap {
    margin: 4px 4px;

    border: 2px solid white;
}

.display-clock {
    opacity: 0;
    transition: .9s;
}